In [10]:
import numpy as np
import pingouin as pg
import pandas as pd

In [38]:
fn = '/Users/aidasaglinskas/Desktop/TN-PS-fMRI-NamesFaces/Data/behav_data/RT_table_full.csv'
data = pd.read_csv(fn)
data

,Attractiveness,Distinctiveness,Friendliness,Trustworthiness,First memory,Familiarity,How many facts,Occupation,Common Name,Common Surname
0,0.875242,0.878852,0.808526,0.860963,0.961533,0.974773,0.813613,0.828512,0.894994,0.873028
1,1.000941,0.846196,0.815920,0.823226,0.818729,0.780657,0.876705,0.914888,0.853510,1.140594
2,0.919496,0.723158,0.721566,0.774356,0.966391,0.904342,0.809440,0.714646,0.745313,1.044481
3,1.023531,0.790750,0.779678,0.898375,1.137177,0.777105,0.899959,0.756450,0.851804,0.866339
4,1.004267,1.126009,1.075180,1.158222,0.782279,1.385191,1.185671,1.316785,1.058830,1.151948
5,0.849007,0.773796,0.817323,0.733531,0.778945,0.941404,0.752748,0.977933,0.834486,0.892231
6,0.783886,0.684566,0.712065,0.680742,0.681453,0.771453,0.772665,0.692526,0.700587,0.726357
7,0.699585,0.740412,0.726423,0.772572,0.750100,0.695722,0.789353,0.754008,0.666081,0.745586
8,0.743440,0.665782,0.698713,0.692012,0.717015,0.725425,0.743270,0.738021,0.703733,0.736760
9,0.754966,0.744059,0.870084,0.818638,0.704429,0.747953,0.693027,0.852843,0.831456,0.792285
10,0.999246,0.829876,0.956063,0.842882,0.867071,0.770724,0.957148,0.827193,0.871934,1.019052
11,0.785789,0.720826,0.796673,0.926276,0.910467,0.824781,0.930030,0.716272,0.913177,1.022180
12,1.017997,0.621981,0.728605,0.673517,0.700124,0.767878,0.671964,0.752616,0.703491,0.720191
13,0.982379,0.897175,0.908707,0.788591,0.978270,0.932185,0.909703,0.762273,0.867909,0.885459
14,1.000312,0.806271,0.880737,0.712632,0.762431,0.707655,0.736430,0.947005,0.865749,0.743021
15,0.680905,0.701312,0.615259,0.752398,0.657534,0.853803,0.698838,0.711366,0.740620,0.773994
16,0.734011,0.712132,0.750287,0.729132,0.715979,0.738450,0.724108,0.969314,0.765263,0.811330
17,0.734208,0.616388,0.673262,0.642066,0.686636,0.606613,0.714016,0.700202,0.726664,0.654954

In [39]:
pg.rm_anova(data,correction=True,detailed=True)

,Source,SS,DF,MS,F,p-unc,p-GG-corr,ng2,eps,sphericity,W-spher,p-spher
0,Within,0.149571,9,0.016619,2.252296,0.021523,0.073083,0.047543,0.440458,True,6387.901303,1.0
1,Error,1.128937,153,0.007379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
grouped_arr = np.hstack((
    data[['Attractiveness','Distinctiveness']].values.mean(axis=1)[:,np.newaxis],
    data[['Friendliness','Trustworthiness']].values.mean(axis=1)[:,np.newaxis],
    data[['First memory','Familiarity']].values.mean(axis=1)[:,np.newaxis],
    data[['How many facts','Occupation']].values.mean(axis=1)[:,np.newaxis],
    data[['Common Name','Common Surname']].values.mean(axis=1)[:,np.newaxis]
))

In [41]:
grouped_data = pd.DataFrame(grouped_arr,columns=['Physical','Social','Episodic','Biographical','Nominal'])
grouped_data

    Physical    Social  Episodic  Biographical   Nominal
0   0.877047  0.834745  0.968153      0.821063  0.884011
1   0.923568  0.819573  0.799693      0.895797  0.997052
2   0.821327  0.747961  0.935366      0.762043  0.894897
3   0.907140  0.839027  0.957141      0.828205  0.859072
4   1.065138  1.116701  1.083735      1.251228  1.105389
5   0.811402  0.775427  0.860174      0.865341  0.863359
6   0.734226  0.696403  0.726453      0.732595  0.713472
7   0.719998  0.749497  0.722911      0.771680  0.705834
8   0.704611  0.695363  0.721220      0.740645  0.720247
9   0.749512  0.844361  0.726191      0.772935  0.811871
10  0.914561  0.899472  0.818897      0.892170  0.945493
11  0.753307  0.861475  0.867624      0.823151  0.967679
12  0.819989  0.701061  0.734001      0.712290  0.711841
13  0.939777  0.848649  0.955228      0.835988  0.876684
14  0.903292  0.796685  0.735043      0.841718  0.804385
15  0.691108  0.683828  0.755669      0.705102  0.757307
16  0.723072  0.739710  0.727215      0.846711  0.788296
17  0.675298  0.657664  0.646624      0.707109  0.690809

In [42]:
pg.rm_anova(grouped_data,correction=True,detailed=True)

,Source,SS,DF,MS,F,p-unc,p-GG-corr,ng2,eps,sphericity,W-spher,p-spher
0,Within,0.017736,4,0.004434,1.59271,0.186239,0.201412,0.015547,0.767437,True,0.525616,0.360069
1,Error,0.189302,68,0.002784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data = pg.read_dataset('rm_anova_wide')
data

    Before  1 week  2 week  3 week
0      4.3     5.3     4.8     6.3
1      3.9     2.3     5.6     4.3
2      4.5     2.6     4.1     NaN
3      5.1     4.2     6.0     6.3
4      3.8     3.6     4.8     6.8
5      3.8     5.4     5.1     6.3
6      5.1     3.7     NaN     NaN
7      4.5     3.0     7.7     5.8
8      3.7     7.1     5.5     4.8
9      4.4     4.7     4.2     5.5
10     NaN     5.1     6.5     5.7
11     3.7     3.0     4.0     7.1

In [15]:
pg.rm_anova(data,correction=True,detailed=True)

,Source,SS,DF,MS,F,p-unc,p-GG-corr,ng2,eps,sphericity,W-spher,p-spher
0,Within,19.289722,3,6.429907,5.200652,0.006557,0.016699,0.346392,0.694329,True,0.306784,0.163365
1,Error,29.672778,24,1.236366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN